.container {
  width: 960px;
  max-width: 100%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column1,
.column2,
.column3 {
  width: 33.333%;
}

.wireframe-gallery {
  display: block;
}

.wireframe-item {
  width: 100%;
}